/* cria estilo */
        body{
            min-height: 100%;
            background-image: url(Fundo.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .tabuleiro {
            width: 600px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }

        .area-jogador1,.area-jogador {
            width: 200px;
            margin: 0;
            padding: 0;
            border: 1px solid white;
            border-radius: 5px;
            overflow: hidden;
            color: white;
        }
        

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td {
            border: 1px solid  white;
            height: 50px;
            text-align: center;
            font-size: 20px;
             width: 50px;  /* congelando a largura */
            cursor: pointer; /* Adicionando cursor ao passar sobre a célula */
        }
        .texto-orientacao{

            text-align: center;
        }

        h1{
            color: white;
            font-family: 'Saira Semi Condensed', sans-serif;
        }
        h2{
            font-family: 'Saira Semi Condensed', sans-serif;
            color: white;
        }
        p{
            color: beige;
            font-family: 'Silkscreen', sans-serif;
        }
  
        .mensagem {
         width: 100%;
         text-align: center;
         animation: piscar 0.5s infinite; /* Adiciona a animação de piscar */ 
         margin-top: 10px; /* Ajuste a margem conforme necessário */
        }
        
        @keyframes piscar {
    0%, 100% {
        color: red; /* Cor inicial e final */
    }
    25% {
        color: yellow; /* Cor após 25% da animação */
    }
    50% {
        color: green; /* Cor após 50% da animação */
    }
    75% {
        color: blue; /* Cor após 75% da animação */
    }
}